.login{
    margin:0;
    padding: 0;
    background-image: url('../image/Login-bg.png');
    height: 100vh;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    background-color: #3a3537;
}
.nav-img{
    width:128px;
     height:40px;
     margin-left: 20px;
}
 .Intranet {
    color: #d8d7d7;
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
    margin:5px;
    padding:4px;
  }
  .login-container {
    width: 100%;
    max-width: 364px !important;
    background: #fff;
    margin: 48px auto;
    padding: 50px;
}
.login-Img {
    width: 100%;
    padding: 15px 0px 25px;
    text-align: center;
}
.form-group {
    width: 239px;
    height: 45px;
    position: relative;
    margin-bottom: 16px;
}
.form-label {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
    
}
.form-label-password{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
    display: flex;
  justify-content: space-between;
}
.field{
    width: 244px;
    height: 41px;
    padding: 12px;
}
.forgot {
    color: #ea1b3c;
    text-decoration: none;
    margin-left: 113px;
  }

.button{
    border: 1px solid #ea1b3c;
    background: #ea1b3c;
    color: #fff;
    padding: 10px 12px;
    width: 246px;
}  
.button:hover{
    background-color:#3a3537;
    border: 1px solid #3a3537;
    color: white;
}

.footer-login{
   text-align: center;
    background: transparent;
    position: absolute;
    bottom: 17px;
    left: 0px;
    right: 0px;
    color: #fff;
    margin-top: 0px;
    font-size: 14px;
   font-weight: 400; 
   
} 
.fas {
    font-size: 21px;
    font-weight: 600;
    color: #9C9A9B;
}
