.card{
    height: 345px;
    width: 262px;
    /* background: #fff; */
    box-shadow: 0px 2px 8px rgb(0 0 0 / 20%);
    /* width: 100%; */

}
.card-text{
font-size: 18px;
    font-weight: 450;

}
.card-text:hover{
    color: #ea1b3c;
  }

 .see-all{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    white-space: nowrap;
     margin-left: 500px; 
    color: #ea1b3c;
    text-decoration: none;
   } 

   .see-all:hover{
    color: #ea1b3c;
    text-decoration: underline;
   }

.facebook{
    color: #ea1b3c;
    text-decoration: none;
}
.facebook:hover{
  color: #ea1b3c;
text-decoration: none;
}


 

  

